* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  width: 100%;
  align-items: center;
  border: 1px solid #000;
  height: 70px;
}

.navList {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  list-style-type: none;
}

.textLogo {
  color: red;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.container {
  height: 65vh;
}

footer {
  border: 2px solid black;
  padding: 20px;
  justify-self: flex-end;
}

/* Update */